.venv/
.idea/
*/__pycache__
*.egg-info
dist/
build/
fedvision/framework/protobuf/*
fedvision/paddle_fl/protobuf/*
!fedvision/framework/protobuf/__init__.py
!fedvision/paddle_fl/protobuf/__init__.py
docs/apis/proto.md
*.log
logs/
FedVision.egg-info/
temp_data/
*.org
**/__pycache__
